section.pitchbar {
    background: #f9f6f3;
    margin-top: 100px;
    text-align: center;
    padding: 44px 0;
}

section.pitchbar .container > div {
    border-right: 1px solid #d6dce2;
    padding: 0 60px;
}

section.pitchbar .container > div:last-child {
    border-right: 0 !important;
}

section.pitchbar .container > div h4 {
    font-size: 1.071em;
    text-transform: uppercase;
    font-weight: 700;
    color: #00244b;
    position: relative;
    margin-top: 0;
    padding-bottom: 10px;
}

section.pitchbar .container > div p {
    font-size: 12px;
    margin: 0;
    line-height: 1;
}

section.pitchbar .container>div h4:after {
    content: '';
    width: 10%;
    height: 1px;
    background-color: #e11f26;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -5%;
}

section.pitchbar a {
    text-decoration: underline;
}

section.pitchbar a:hover {
    text-decoration: none;
}

footer {
    background: $color-background-footer;
    color: #fff;
    font-size: 18px;
    padding: 25px 0 16px;
    font-family: 'DIN Pro', sans-serif;

    ul {
        line-height: 1.538em;
        padding: 0;
        margin: 0;
    }

    ul li {
        list-style: none;
    }

    a {
        color: #b3bdc9;

    }

    a:hover {
        color: #fff;
    }

    h5 {
        margin: 0 0 8px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .929em;
    }

    .copyright {
        border-top: 1px solid #33506f;
        //margin-top: 24px;
        padding-top: 20px;
        color: #b3bdc9;

        p {
            margin: 0;
            line-height: 1.9em;
            span {
                margin: 0 10px;
                font-size: 20px;
                line-height: .6em;
                position: relative;
                top: 2px;
            }
        }
    }

    .footer-item{
        padding-bottom: 20px;
    }

    .footer-item.pagamento ul {
        margin-bottom: 24px;
    }

    .footer-item.pagamento ul.delivery{
        margin-bottom: 0;
    }

    .footer-item.pagamento img {
        width: auto;
        max-height: 23px;
        height: auto;
        max-width: 100%;
    }

    .pull-left {
        float: left !important;
    }

    .list-inline {
        margin-left: -5px;

        > li {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .list-inline, .list-unstyled {
        padding-left: 0;
        list-style: none;
    }
}