@media (max-width: 360px) {
    .user-discount-level {
        font-size: 16px !important;
        letter-spacing: .05em;

        .user-level {
            font-size: 18px;
        }
    }

    #user-level-label {
        width: 30px !important;
        float: left;
        margin-left: 5px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .footer-item{
        width: 100%;
    }

    .lifestyle h2 {
        font-size: 36px;
    }

    .user-discount-level {
        font-size: 20px;
        letter-spacing: .05em;

        .user-level {
            font-size: 18px;
        }
    }

    #user-level-label {
        width: 30px !important;
        float: left;
        margin-left: 5px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .main-menu ul li {
        display: block;
    }

    .fixed {
        position: unset;
    }

    .logo h1 a {
        left: 0;
        margin-left: 0;
    }

    .content {
        padding-top: 20px;
    }

    .product-category-list {
        .row div {
            text-align: center !important;
        }
    }

    .page-sep {
        margin: 36px 0;
    }

    .page-sep:after, .page-sep:before {
        width: 37%;
    }

    .slider-stores .slick-arrow.slick-prev,
    .slider-stores .slick-arrow.slick-next {
        left: 0;
        top: auto;
        bottom: 50%;
        margin-bottom: -44px;
    }
    .slider-stores .slick-arrow.slick-next {
        left: 100%;
        margin-left: -44px;
    }

    section.pitchbar .container>div {
        padding: 0 20px;
        border: none;
        margin-bottom: 15px;
    }

    section.pitchbar {
        margin-top: 0;
    }

    li.product {
        width: 100% !important;
    }

    .woocommerce form .form-row-first,
    .woocommerce form .form-row-last,
    .woocommerce-page form .form-row-first,
    .woocommerce-page form .form-row-last,
    #billing_phone_field,
    #billing_email_field {
        width: 100%;
    }

    .woocommerce-thankyou-order-details,
    ul.order_details {
        padding-left: 0;

        li {
            float: none !important;
            margin-bottom: 10px;
            border: 0 !important;
        }
    }

    .aws-container {
        margin: 10px;
    }

    #submit_wc_robokassa_payment_form {
        margin: 10px;
    }

    .user-discount-level{
        position: absolute;
        top: -150px;
        right: 0;
        font-family: 'DIN Pro', sans-serif;
        font-weight: 400;
    }

    #user-level-label {
        width: 50px !important;
        float: left !important;;
        margin-left: 10px;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .logo h1 a {
        left: auto;
        margin-left: auto;

        img {
            max-width: 100%;
        }
    }

    /*li.product {
        width: 48%;
    }*/
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

@media  (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 1600px;
    }

}