@media (max-width: 360px) {
    .user-discount-level {
        font-size: 16px !important;
        letter-spacing: .05em;

        .user-level {
            font-size: 18px;
        }
    }

    #user-level-label {
        width: 30px !important;
        float: left;
        margin-left: 5px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .footer-item{
        width: 100%;
    }

    .lifestyle h2 {
        font-size: 36px;
    }

    .user-discount-level {
        font-size: 20px;
        letter-spacing: .05em;

        .user-level {
            font-size: 18px;
        }
    }

    #user-level-label {
        width: 30px !important;
        float: left;
        margin-left: 5px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    h1 {
        font-size: 40px;
    }

    .main-menu ul li {
        display: block;
    }

    .fixed {
        position: unset;
    }

    .logo h1 a {
        left: 0;
        margin-left: 0;
    }

    .content {
        padding-top: 20px;
    }

    .product-category-list {
        .row div {
            text-align: center !important;
        }
    }

    .page-sep {
        margin: 36px 0;
    }

    .page-sep:after, .page-sep:before {
        width: 37%;
    }

    .slider-stores .slick-arrow.slick-prev,
    .slider-stores .slick-arrow.slick-next {
        left: 0;
        top: auto;
        bottom: 50%;
        margin-bottom: -44px;
    }
    .slider-stores .slick-arrow.slick-next {
        left: 100%;
        margin-left: -44px;
    }

    section.pitchbar .container>div {
        padding: 0 20px;
        border: none;
        margin-bottom: 15px;
    }

    section.pitchbar {
        margin-top: 0;
    }

    li.product {
        /*width: 100% !important;*/
    }

    .woocommerce .woocommerce-ordering {
        display: none;
    }

    .woocommerce form .form-row-first,
    .woocommerce form .form-row-last,
    .woocommerce-page form .form-row-first,
    .woocommerce-page form .form-row-last,
    #billing_phone_field,
    #billing_email_field {
        width: 100%;
    }

    .woocommerce-thankyou-order-details,
    ul.order_details {
        padding-left: 0;

        li {
            float: none !important;
            margin-bottom: 10px;
            border: 0 !important;
        }
    }

    .summary.entry-summary .sku_wrapper,
    .woocommerce-cart-form__cart-item .sku_wrapper {
        float: right;
    }

    .woo-variation-swatches-stylesheet-enabled .variable-items-wrapper {
        justify-content: center;
    }

    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        /*margin: 0 !important;*/
    }

    .personal-discount {
        top: 5px;
        left: 10px;
    }

    .btn-quickview {
        display: none !important;
    }

    .aws-container {
        margin: 10px;
    }

    #submit_wc_robokassa_payment_form {
        margin: 10px;
    }

    .user-discount-level{
        position: absolute;
        top: -150px;
        right: 0;
        font-family: 'DIN Pro', sans-serif;
        font-weight: 400;
    }

    #user-level-label {
        width: 50px !important;
        float: left !important;;
        margin-left: 10px;
    }

    .woocommerce div.product .product_title {
        margin: 0;
        font-size: 30px;
    }

    .woocommerce div.product span.price,
    .woocommerce div.product p.price,
    .woocommerce div.product form.cart .variations label{
        font-size: 1em;
    }

    .woocommerce-variation.single_variation .price{
        font-size: 2em !important;
    }

    .woocommerce span.onsale, .woocommerce span.new-arrival, .prod-tag {
        min-height: 0;
        min-width: 0;
        padding: 0 2px;
        font-size: 1em;
        line-height: 3;
        font-size: 10px;
    }
    .related .visible-xs {
        clear: none !important;
    }

    .woocommerce-page .related ul.products li.product
     {
        clear: none !important;
        margin: 1% !important;
    }

    .woocommerce-variation-add-to-cart.variations_button {
        text-align: center;
    }

    .woocommerce div.product form.cart .button {
        float: unset;
    }

    .sizes-bar span {
        padding: 0px;
        min-width: 20px;
        height: 20px;
    }

    .product_meta {
        font-size: 16px;

        div {
            margin-bottom: 10px;
        }
    }

    .entry-summary p:not([class='price']) {
        font-size: 12px;
    }

    .loyalty h3 {
        font-size: 32px;
    }

    .block-4 .bg,
    .block-31 .bg{
        display: none;
    }

    .block-6 .over {
        position: relative;
    }

    .block-6 * {
        color: $color-deep-blue !important;
    }

    .black-bg.first {
        bottom: 100px !important;
    }

    .lwpcngNotice_message {
        font-size: 10px;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .logo h1 a {
        /*left: auto;
        margin-left: auto;*/

        img {
            max-width: 100%;
        }
    }

    /*li.product {
        width: 48%;
    }*/
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .stores-qd-v1-wrapper .stores-qd-v1-locator {
        position: relative;
        right: unset;
        width: auto;
        top: auto;
        background: #fff;

        p, p.stores-qd-v1-subtitle {
            color: #00244b;
            //padding-bottom: 20px;
        }

        .stores-qd-v1-subtitle {
            margin: 40px auto 20px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .stores-qd-v1-subtitle::before {
            display: none;
        }


        .stores-qd-v1-border {
            display: none;
        }

        h3 {
            margin: auto;
            font-size: 34px;
            background: #00244bcc !important;
            padding: 20px;

            span:last-child {
                font-size: 34px;
                font-weight: normal;
            }
        }

        .concept-text{
            max-height: 1000px;
        }
    }
}

@media  (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 1600px;
    }

}