.woocommerce .products ul li,
.woocommerce ul.products li {
    border: 1px solid $color-border-product;
    padding: 5px !important;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    margin: 1% !important;
}

.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product .woocommerce-loop-category__title {
    text-align: center;
}

.woocommerce ul.products li.product .price {
    color: $color-text-red;
    display: block;
    font-weight: normal;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    text-align: center;
}

.btn-quickview {
    font-family: 'DIN Pro', sans-serif;
    display: block !important;
    opacity: 0;
    width: 50%;
    margin: 0 auto 0 -25% !important;
    background: rgba(255, 255, 255, 0.6) !important;
    border: 1px solid #4a4a4a !important;
    color: #0d2f54 !important;
    padding: 14px !important;
    position: absolute !important;
    bottom: 35%;
    left: 50% !important;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    border-radius: 0 !important;
}

.product:hover {
    >.btn-quickview {
        opacity: 1;
    }
}

.woocommerce a.added_to_cart {
    padding-top: 0.5em;
    display: inline-block;
    position: absolute;
    top: 0;
    width: 50%;
    margin: 10px auto 0 -25% !important;
    background: rgba(255, 255, 255, 0.6) !important;
    border: 1px solid #4a4a4a !important;
    color: $color-text-red !important;
    padding: 14px !important;
    position: absolute !important;
    /* bottom: 30%; */
    left: 50% !important;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
    padding: 20px;
    border: 1px solid $color-border-product;
    overflow: hidden;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    top: 1em;
    right: 1em;
    background: #fff;
    text-indent: -9999px;
    border-radius: 0;
    box-sizing: content-box;
    background: rgba(255, 255, 255, 0.6) !important;
    border: 1px solid #4a4a4a !important;
}

.woocommerce div.product div.images .flex-control-thumbs {
    position: absolute;
    top: 0;
    left: 10px;
    width: 25%;
    max-width: 60px;//100px;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    width: 100%;
    float: none;
    margin: 10px 0;
    border: 1px solid #4a4a4a;
    list-style: none;
}

.woocommerce div.product span.price,
.woocommerce div.product p.price {
    color: $color-text-red;
    font-size: 2em;
}

.flash-tags {
    position: absolute;
    text-align: center;
    top: 0;
    left: auto;
    right: 0;
    z-index: 2;

    a, a:hover{
            text-decoration: none !important;
    }
}

.woocommerce ul.products li.product .onsale {
    top: 0;
    right: 0;
    left: auto;
    margin: 0 !important;
}
.woocommerce span.onsale,
.woocommerce span.new-arrival,
.prod-tag
{
    min-height: 3.236em;
    min-width: 3.236em;
    padding: 0.202em;
    font-size: 1em;
    font-weight: 700;
    position: unset !important;
    text-align: center;
    line-height: 3.236;
    display: block;
    /*top: -0.5em;
    left: -0.5em;*/
    margin: 0;
    border-radius: 0;
    background-color: $color-text-red;
    color: white;
    z-index: 9;
    font-family: "Raleway Light";
    font-size: 12px;
}

.woocommerce span.new-arrival {
     background-color: $color-deep-blue;
 }

.woocommerce span.special-offer {
    background-color: $body-color;
}

.product-page .product-details .product-variations .buy-button-box {
    margin: 20px 0 50px;
    clear: both;
}

.woocommerce div.product form.cart .variations label {
    font-weight: 900;
    color: $color-deep-blue;
    font-size: 2em;
}

.single_add_to_cart_button,
/*.wc-forward,*/
button[name='woocommerce_checkout_place_order'],
#submit_wc_robokassa_payment_form {
    background-color: $color-text-red !important;
    border-radius: 0 !important;
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 20px !important;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    color: #fff;
    font-size: 1em !important;
    letter-spacing: .1em;
}

.woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-squared .variable-items-wrapper .variable-item {
     border-radius: 0;
}

.variable-item.button-variable-item {
    outline: none;
}

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected,
.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
    box-shadow: 0 0 0 2px $color-deep-blue;
    /*border-color: $color-deep-blue;*/
    background: $color-deep-blue;
    color: #fff;
}

.woocommerce-message::before {
    content: "\e015";
    color: $color-text-red;
}

.woocommerce-info::before {
    content: "\e028";
    color: $color-text-red;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
    border-top-color: $color-text-red !important;
    background: #fff !important;
}
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    border-top: 3px solid #a46497;
    list-style: none outside;
    *zoom: 1;
    width: auto;
    word-wrap: break-word;
}

/*.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,*/
.wc-forward,
#wc_robokassa_payment_form .button.cancel{
    border-color: #00244b;
    background: none !important;
    color: $color-deep-blue !important;
    /* margin-top: 25px; */
    border: 1px solid $color-deep-blue  !important;
    border-radius: 0  !important;
    padding: 12px 20px;
    width: auto;
    float: right;
    height: auto;
    font-weight: bold;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    outline: none;
    text-align: center;
}

.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover {
    background: $color-deep-blue !important;
    color: #fff !important;
}

/* картинка товара в корзине */
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img,
#add_payment_method table.cart img {
    max-width: 100px;
    width: 100%;
}

/* иконка Удалить из корзины */
.woocommerce a.remove {
    font-size: 1.5em;
    text-align: center;
    line-height: 1;
    color: $color-deep-blue !important;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: normal;
    border-radius: 0;
    padding: 3px 7px;
    width: auto;
    height: auto;
    display: inline-block;
    border: 1px solid $color-deep-blue;
}

.woocommerce a.remove:hover {
    background: $color-deep-blue !important;
    color: #fff !important;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.product-remove {
    text-align: center;
}

/* разделитель блоков в карточке товара */
.product .page-sep {
    padding: 0;
}

/* спрячем кнопку Обновить корзину */
.woocommerce .cart .button[name = 'update_cart'] {
    display: none;
}

/* подсветка валидных полей формы заказа */
.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border: 1px solid $color-deep-blue;
}

.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
    border: 1px solid $color-text-red;
}

.woocommerce-cart #payment,
.woocommerce-checkout #payment,
#add_payment_method #payment {
    background: none;
    /*border-radius: 5px;*/
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce-cart table.cart input,
.woocommerce-checkout table.cart input,
#add_payment_method table.cart input{
    border: 1px solid #eaedf0;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label,
#order_review_heading {
    font-weight: 700;
   color: $color-deep-blue
}

/* символ рубля */
.woocommerce-Price-currencySymbol {
    display: inline-block;
    width: 1em;
    text-align: left;
}

.woocommerce-MyAccount-navigation ul {
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    display: block;
    padding: 10px;
    border-top: 1px solid $color-border;
    border-left: 4px solid #fff;

    a {
        display: block;
    }

    &.is-active {
        border-left: 4px solid $color-text-red;

        a{
            color: $color-deep-blue;
        }
    }
}

.woocommerce-EditAccountForm fieldset {
    margin-top: 20px;
}

.woocommerce table.shop_table {
    border-radius: 0 !important;
}

#billing_phone_field,
#billing_email_field {
    width: 48%;
    clear: none;
    float: left;
}

#billing_email_field {
    float: right;
}

.woocommerce ul.order_details li {
    color: $color-deep-blue;
    border-color: $color-border;

    strong {
        color: $color-text-red;
    }
}

.woocommerce-breadcrumb,
.woocommerce-breadcrumb a {
    font-family: "Raleway Light";
    font-size: 14px !important;
    color: $color-deep-blue !important;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0;
}


.breadcrumb-delimiter {
    display: inline-block;
    padding: 0 20px;
}

ul.products li.product a img {
     margin: 0 !important;
}

/* артикул на карточке товара */
.woocommerce-LoopProduct-link span.art {
    font-size: 14px;
}

/* цена со скидкой */
.woocommerce .price ins {
    text-decoration: none;
}

/* старая цена */
.woocommerce .price del {
    opacity: 1 !important;
    font-size: .7em;
    color: #5b7a9c !important;
    display: block !important;
}

.summary > .discount-personal {
    display: none;
}

.discount-personal {
    font-size: 18px;

    p.price {
        font-size: 18px !important;
        color: $color-deep-blue;
        margin: 0;
    }
}
/*.woocommerce-variation-price p.price {
    font-size: 18px !important;
    color: $color-deep-blue;
}*/
.user-discount-level {
    position: absolute;
    top: 5px;//-100px;
    right: 0;
    margin-right: 15px;
    font-family: 'DIN Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;

    span {
        display: block;
    }

    .user-level {
        float: left;
        font-weight: 700;
        color: #e11f26;
        font-size: 30px;
    }

    #user-level-label {
        width: 100px;
        display: inline-block;
        float: right;
    }
}

.product img {
    width: 100%;
}

#wc_robokassa_payment_form {
    text-align: center;
}

.woocommerce div.product .stock {
    color: $color-deep-blue;
    font-family: 'Raleway Light';
    font-weight: 400;
    font-size: 24px !important;
}

.colors-bar {
    display: inline-block;
    float: right;
}

.color{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid $color-border;
    margin: 5px 2px;
}

.sinij,
.blue {
    background:#3B425B /*#0000FF*/
}
.serovato-sinij {
    background:#26252d
}
.gray,
.seryj{
    background:#BEBEBE
}
.green,
.zelenyj,
.zeleonyj {
    background:#99CDB6
}
.red,
.krasnyj{
    background:#C43940/*#FF0000*/}

.bezhevyj {
    background: #e1dcd6/*#f5f5dc*/
}
.belyj {
    background:#FFFFFF
}
.birjuzovyj {
    background: #a3c194/*#30d5c8*/;
}
.goluboj {
    background:#c4cddc/*#42aaff*/
}
.zheltyj,
.zheltyj-2,
.yellow {
    background:#efe0a9/*#FFFF00*/;
}
.karamelnyj
{background:#af6f09
}
.korichnevyj {
    background:#964b00
}
.molochnyj {
    background:#f6f5f2/*#fff6d4*/
}
.pesochnyj {
    background:#fcdd76
}
.rozovyj {
    background:#deb0cc /*#ffc0cb*/
}
.chjornyj {
    background:#000000
}



